[Unit]
Description=Set Linux console 16 color palette
After=systemd-vconsole-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/setvtrgb /etc/vtrgb
